.section__register {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222222;
}

.register__desktop {
  display: none;
}

.register__title {
  margin-top: 100px;
  color: #3ceb94;
  font-family: "Roboto Bold";
  font-size: 24px;
}

.register__form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.form__label--register {
  margin-top: 30px;
  margin-left: 20px;
  position: relative;
  font-size: 18px;
  font-family: "Roboto Bold";
  color: #ffffff;
}

.form__input--register {
  margin-top: 15px;
  outline: none;
  background-color: #222222;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  font-size: 18px;
}

.form__submit--register {
  align-self: center;
  padding: 10px 30px;
  border: 2px solid #3ceb94;
  border-radius: 32px;
  color: #3ceb94;
  background-color: #222222;
  font-size: 21.9027px;
  font-family: "Roboto Light";
}

.toogle__password--register {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 15px;
  right: 0;
}

.login {
  margin-top: 20px;
  color: #3ceb94;
  font-family: "Roboto Light";
  font-size: 14px;
}

@font-face {
  font-family: "Roboto Light";
  src: url(../../../assets/fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: "Roboto Bold";
  src: url(../../../assets/fonts/Roboto/Roboto-Bold.ttf);
}

@media screen and (min-width: 768px) {
  .register-layout {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 0;
    width: 100%;
    max-width: 1440px;
  }

  .register__desktop {
    position: relative;
    margin: 0;
    display: flex;
    width: 50%;
    height: 100vh;
  }

  .section__register {
    width: 50%;
  }

  .login__register {
    max-width: 450px;
  }
}
